---
import { getCollection } from "astro:content";
import Base from "src/layouts/Base.astro";
import Link from "src/components/Link.astro";

const bookmarks = await getCollection("Bookmarks");
const quotes = await getCollection("Quotes");
const songs = await getCollection("Songs");
const things = await getCollection("Things");
---

<Base title="Index">
  <h1>Index</h1>

  <h2>Bookmarks</h2>
  <ul>
    {
      bookmarks.map((p) => (
        <li>
          <Link href={p.id}>{p.id}</Link>
        </li>
      ))
    }
  </ul>

  <h2>Quotes</h2>
  <ul>
    {
      quotes.map((p) => (
        <li>
          <Link href={p.id}>{p.id}</Link>
        </li>
      ))
    }
  </ul>

  <h2>Songs</h2>
  <ul>
    {
      songs.map((p) => (
        <li>
          <Link href={p.id}>{p.id}</Link>
        </li>
      ))
    }
  </ul>

  <h2>Things</h2>
  <ul>
    {
      things.map((p) => (
        <li>
          <Link href={p.id}>{p.id}</Link>
        </li>
      ))
    }
  </ul>
</Base>
